<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.program.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.example.program.entity.Order">
            <id property="orderId" column="orderId" jdbcType="INTEGER"/>
            <result property="open_id" column="open_id" jdbcType="VARCHAR"/>
            <result property="shoppingId" column="shoppingId" jdbcType="INTEGER"/>
            <result property="addressId" column="addressId" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="freight" column="freight" jdbcType="VARCHAR"/>
            <result property="invoice" column="invoice" jdbcType="VARCHAR"/>
            <result property="orderNote" column="orderNote" jdbcType="VARCHAR"/>
            <result property="payment" column="payment" jdbcType="FLOAT"/>
            <result property="orderStatus" column="orderStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        orderId,open_id,shoppingId,
        addressId,quantity,freight,
        invoice,orderNote,payment,
        orderStatus
    </sql>
</mapper>
